Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

PermitRootLogin no
AllowUsers gem
AuthenticationMethods publickey
PubkeyAuthentication yes

AuthorizedKeysFile /etc/ssh/authorized_keys/%u

StrictModes no
LogLevel INFO

PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no

PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
